
        .container {
          font-family: "proxima-nova", sans-serif;
          color: #e6edf3;
          width: 100%;
        }
        p {
          font-weight: 400;
          font-size: 12px;
        }
        h1 {
          font-weight: 600;
          font-style: italic;
          font-size: 16px;
        }
        @media (prefers-color-scheme: light) {
          .container {
            color: #0d1117;
          }
        }
